@require 'parts/normalize.css'

@require 'parts/_mixins'
@require 'parts/_sprites'
@require 'parts/_html-tags'
@require 'parts/_main-panel'
@require 'parts/_header'
@require 'parts/_footer'

@require 'parts/_articles'
@require 'parts/_code-blocks'
