<header id='header' itemscope itemtype='https://schema.org/WPHeader'>

  <div id="header-inside">
    <h1 id="title">Hi world! I'm Miduga</h1>

    <% if (theme.logo) { %>
      <a href="/">
        <figure id='logo' style="background-image: url('<%= theme.logo %>')"></figure>
      </a>
    <% } %>

    <p id='web-description' itemprop='description'>
      Lead front-end engineer at <a href="http://hubii.com" target="_blank">Hubii AS</a><br>Founding partner at <a href="http://uiku.es" target="_blank">Uikú</a><br>JavaScript, NodeJS, Swagger, performance freak<br>Learning something new everyday
    </p>

    <section id='links'>
      <a target="_blank" href="https://github.com/miduga"><i class="icon-github-circled"></i></a>
      <a target="_blank" href="https://twitter.com/wildgames"><i class="icon-twitter"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/miduga"><i class="icon-linkedin"></i></a>
      <a target="_blank" href="mailto:miguel@miduga.es"><i class="icon-mail-alt"></i></a>
    </section>
  </div>

</header>
