@font-face
  font-family: 'miduga'
  src: url('../fonts/miduga.eot?30656483')
  src: url('../fonts/miduga.eot?30656483#iefix') format('embedded-opentype'),
       url('../fonts/miduga.woff?30656483') format('woff'),
       url('../fonts/miduga.ttf?30656483') format('truetype'),
       url('../fonts/miduga.svg?30656483#miduga') format('svg')
  font-weight: normal
  font-style: normal

i:before
  font-family: "miduga"
  font-style: normal
  font-weight: normal
  speak: none

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  color: #fff
  font-size: 28px

  font-variant: normal
  text-transform: none

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-mail-alt:before { content: '\e800' }
.icon-github-circled:before { content: '\e804' }
.icon-twitter:before { content: '\e805' }
.icon-linkedin:before { content: '\e806' }
.icon-medium:before { content: '\e807' }
